.layout {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.App-title {
    font-size: 16px;
    font-weight: 600;
    color: floralwhite;
}

.content {
    height: calc(100% - 64px);
    margin: 20px 50px;
    overflow: auto;
}

.footer {
    text-align: center;
    background-color: #e7e7e7;
    padding-bottom: 8px;
    padding-top: 8px;
}
